Source: ros-turbulent-rcpputils
Section: misc
Priority: extra
Maintainer: Emerson Knapp <eknapp@amazon.com>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-ament-cmake, ros-turbulent-ament-cmake-gtest, ros-turbulent-ament-cmake-ros, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-rcutils, ros-turbulent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-rcpputils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-ros-workspace
Description: Package containing utility code for C++.
